<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
    	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">
	<!-- Cargador de archivo de configuracion de la aplicacion -->
 	<context:property-placeholder location="file:///C:/MDP/datasources.properties" />  
		<!-- <context:property-placeholder location="file:/Apps/EnterpriseApplications_v8/app-batch-silex/datasources.properties" /> --> 
<!-- 	location="file:/Apps/EnterpriseApplications_v8/app-batch-silex/datasources.properties" />  -->
</beans>